.App {
  font: bold;
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* TO REFACTOR INTO STYLE COMPONENT */
.img_style{
  top: 0;
  left: 30px;
}

.previousMovies{
  /*border: solid red;                /*Debug*/
  display: flex;
  margin: 20px;
}

.currentMovie{
  /*border: solid red;                /*Debug*/
  margin: 20px;
  font-style: italic;
  display: flex;
}

.currentMovieInfo{
  margin: 20px;
  font-size:x-large
}

.moviePreviousMovie{
  /*border: solid red;              /*Debug*/
  margin: 15px;
}

.movieCover{
  /*border: red;                    /*Debug*/
  border-radius: 15px;
}

.title{
  font-size: large;
  font-style: italic;
}