.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* TO REFACTOR INTO STYLE COMPONENT */

.previousMovies{
  border: solid red;
  display: flex;
}

.currentMovie{
  border:solid red;
  display: flex;
}

.movie{
  border: solid red;
  margin: 15px;
}

