.App {
  font: bold;
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* TO REFACTOR INTO STYLE COMPONENT */
.img_style{
  position: absolute;
  top: 30px;
  left: 30px;
  
}

/* .previousMovies{
  border: solid red;
  display: flex;
  margin: 20px;
}

.currentMovie{
  border: solid red;
  margin: 20px;
  font-style: italic;
  display: flex;
}

.currentMovieInfo{
  margin: 20px;
  font-size:x-large;
}

.movieCover{
  border: red;
  border-radius: 15px;
}

.moviePreviousMovie{
  border: solid red;
  margin: 10px;
} */

/* .HideAndShow_info{
  display: none;
}

.HideAndShow_info:hover{
  display: block;
} */

 /* .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
}  */

/* .container:hover .overlay{
  opacity: 0.8;
} */

.nav_style{
  position: relative;
  top: 0;
  right: 0;
  left: 0;

}
