.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* TO REFACTOR INTO STYLE COMPONENT */
.img_style{
  top: 0;
  left: 30px;
}

.previousMovies{
  border: solid red;
  display: flex;
  margin: 20px;
}

.currentMovie{
  border:solid red;;
  /* display: flex; */
}

.movie{
  border: solid red;
  margin: 15px;
}

